BattleTank/BattleTank.VC.db
BattleTank/Content/StarterContent/
BattleTank/Content/HighPolyBattleGround_sharedassets/Dirt_HP_LayerInfo.uasset
BattleTank/Content/HighPolyBattleGround_sharedassets/Grass_HP_LayerInfo.uasset
